div {
	display: block;
	background: var(--entry);
	height: 100%;
	margin: 1rem;
	padding: 1rem;
	gap: 0.1rem;
}

p {
	font-family: "IBM Plex Sans Condensed", "sans-serif";
	font-weight: bold;
	font-size: 0.75rem;
	margin: 0;
	margin-bottom: 0.25rem;
}

.flexdiv {
	display: flex;
	flex-shrink: 0;
	align-items: stretch;
	gap: 0.5rem;
	margin: 0;
	padding: 0;
}

.innerdiv {
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	background: var(--code);
}

.innerdiv p {
	margin: 0;
	padding: 0;
	font-size: 1rem;
}

.innerdiv hr {
	margin-top: 0;
}

.innerdiv input {
	background: var(--entry);
}

.innerdiv button {
	background: var(--button);
	color: var(--foreground);
}

.innerdiv button:hover {
	background: var(--button-hover);
}

.innerdiv button:active {
	background: var(--button-selected);
}

.widebutton {
	width: 100%;
}

input {
	width: 100%;
	margin: 0;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 1rem;
	padding-right: 1rem;

	background: var(--code);
	box-sizing: border-box;
}

input:focus {
	outline: none;
	box-shadow: 0px 0px 0 2px var(--nice);
}

.inputempty {
	box-shadow: 0px 0px 0 2px var(--bad);
}

textarea {
	height: 10rem;
	width: 100%;
	margin: 0;

	border: 0;
	color: var(--foreground);
	font-family: "Gohufont 14 Nerd Font", "Fira Code", "monospace";
	font-size: 14px;
	background: var(--code);
	box-sizing: border-box;
}

textarea:focus {
	outline: none;
	box-shadow: 0px 0px 0 2px var(--nice);
}

.title {
	font-family: "IBM Plex Sans Condensed", "sans-serif";
	color: var(--title);
	font-size: 1.5rem;
	font-weight: bold;

	margin-top: 0;
	margin-bottom: 0.2rem;
}

.credits {
	font-size: 0.9rem;
	font-style: italic;

	margin: 0;
}

.filename {
	font-size: 1rem;
	font-style: italic;
}

.tags {
	width: 100%;
}

.tags label .checkmark {
	background: var(--entry);
}

.tags section {
	margin-bottom: 0.75rem;
	gap: 0.2rem;
}

.tags section input {
	font-size: 1rem;
}

.dependency {
	margin-bottom: 0.75rem;
}

.dependency section {
	gap: 0.2rem;
	margin-bottom: 0.2rem;
}

.dependency .nameinput {
	font-size: 1rem;
}

.dependency .linkinput {
	font-size: 0.75rem;
	font-style: italic;
}

.flair {
	margin-bottom: 0.75rem;
	gap: 0.2rem;
}

.flair select {
	width: 20%;
	font-size: 0.75rem;
	background: var(--entry);
}

.flair input {
	font-size: 1rem;
}

.innerdiv .deletebutton {
	display: grid;
	align-items: center;
	background: var(--entry);
}

.innerdiv .deletebutton:hover {
	background: var(--bad);
}

.innerdiv .deletebutton img {
	height: 1.5rem;
	width: 1.5rem;
	margin: auto;
	filter: var(--icon-bad1) var(--icon-bad2) var(--icon-bad3) var(--icon-bad4) var(--icon-bad5) var(--icon-bad6);
}

.innerdiv .deletebutton:hover img {
	filter: var(--icon-hover1) var(--icon-hover2) var(--icon-hover3) var(--icon-hover4) var(--icon-hover5) var(--icon-hover6);
}

.description {
	padding: 0.4rem;
	padding-left: 1rem;
	max-height: 100%;
	max-width: 100%;
	min-height: 100%;
	min-width: 100%;
}

.exports {
	margin: 1rem;
}

.exports .buttons {
	display: block;
	margin-left: auto;
	width: fit-content;
}

.exports .buttons button {
	display: inline-block;
}

.errors {
	color: var(--bad);
	margin: 0;
	padding: 0;
	font-size: 0.85rem;
	font-style: italic;
	text-align: right;
}
