/*
NOTE:
1 px = 0.063em
16 px = 1em
Make sure to use rem unit instead of em unit
*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300;600");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code");


/*-----------*/
/* Scrollbar */
/*-----------*/

:root {
	scrollbar-color: var(--scrollbar-fg) var(--scrollbar-bg);
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
	background: var(--scrollbar-fg);
}

::selection {
	background: var(--link-hover);
	color: var(--foreground);
}


/*-------*/
/* Fonts */
/*-------*/

:root {
	font-size: 100%;
}

body, select, button, input, dialog {
	border: none;
	font-family: "IBM Plex Sans", "sans-serif";
	font-size: 1rem;
}

#sidebar h1, #entries h3, dialog h3 {
	font-family: "IBM Plex Sans Condensed", "sans-serif";
}


/*---------------*/
/* Generic setup */
/*---------------*/

body {
	background: var(--background);
	color: var(--foreground);
	display: block;

	font-size: 1rem;

	margin: auto;
}

a {
	cursor: pointer;
}

hr {
	border-left: 0;
	border-right: 0;
	border-top-width: 0.15rem;
	border-bottom: 0;
	border-color: var(--foreground);
	border-style: solid;
}

pre {
	background: var(--code);
	padding: 0.2rem;
}

code {
	background: var(--code);
	display: inline-block;
	font-family: "Fira Code", "monospace";
	white-space: pre-wrap;

	padding-left: 0.2rem;
	padding-right: 0.2rem;
}

ul {
	padding-left: 1.5rem;
}

blockquote {
	background: var(--code);
	border-left-color: var(--quote);
	border-left-style: solid;
	border-left-width: 0.2rem;

	margin: 0;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

dialog {
	max-height: 80%;
	max-width: 80%;
	padding: 1rem 1rem;

	background: var(--entry);
	border-width: 0.1rem;
	border-color: var(--foreground);
	color: var(--foreground);
	z-index: 10000;
}

button {
	cursor: pointer;
}

summary {
	cursor: pointer;
}

video, img {
	max-width: 560px;
	fit-content: contain;
}

iframe {
	width: 560px;
	height: 315px;

	border: none;
}

a {
	color: var(--link);
}

a:hover {
	background: var(--link-hover);
	color: var(--foreground);
}

a img {
	display: inline-block;
	height: 2rem;
	width: 2rem;
	filter: var(--icon1) var(--icon2) var(--icon3) var(--icon4) var(--icon5) var(--icon6);
}

a:hover img {
	filter: var(--icon-hover1) var(--icon-hover2) var(--icon-hover3) var(--icon-hover4) var(--icon-hover5) var(--icon-hover6);
}

select {
	display: block;
	width: 80%;

	background: var(--code);
	border: none;
	color: var(--foreground);

	padding: 0.4rem;
	margin: auto;
}

input {
	display: inline-block;
	font-size: 0.75rem;

	border: none;
	color: var(--foreground);

	padding: 0.4rem;
	margin: auto;
}


/*--------*/
/* Dialog */
/*--------*/

dialog h3 {
	margin: 0;
}

dialog hr {
	margin: 0;
	margin-bottom: 1rem;
}

dialog .settings {
	display: flex;
	align-items: center;
	gap: 10rem;
	justify-content: space-between;
	margin: 0.5rem 0;
}

dialog .settings input {
	width: 3rem;
	margin: 0;
	margin-left: auto;
	padding: 0.25rem;

	background: var(--background);
}

dialog .settings select {
	font-size: 0.75rem;
	width: max-content;
	margin: 0;
	margin-left: auto;
	padding: 0.25rem;
}


/*---------*/
/* Sidebar */
/*---------*/

/* TODO: reuse for sidebar button tags
.header div button {
	background: var(--entry);

	color: var(--foreground);
	margin-top: 0.5rem;
	margin-right: 0.5rem;
	padding: 0.25rem 0.5rem;
}
.header div button:hover {
	background: var(--button-hover);
}

.header div button.selected {
	background: var(--button-selected);
	color: var(--background);
	font-weight: bold;
}

.header div button.selected:hover {
	background: var(--foreground);
}
*/

.sidebar-button {
	background: var(--entry);
	visibility: hidden;
	z-index: 10000;

	border-left: 1px solid var(--background);
	border-right: 1px solid var(--background);

	position: fixed;
	float: left;
	top: 0;
	bottom: 0;
	left: 0;
	width: 10%;
}

/* sidebar button pointer thing (too lazy to fit an svg in there) */
.sidebar-button::after {
	content: " ";
	position: absolute;
	height: 0.5rem;
	width: 0.5rem;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

	border-left-style: solid;
	border-left-width: 0.15rem;
	border-top-style: solid;
	border-top-width: 0.15rem;
	border-color: var(--foreground);

	-webkit-transform: translateX(-0.25rem) rotate(135deg);
	-ms-transform: translateX(-0.25rem) rotate(135deg);
	transform: translateX(-0.25rem) rotate(135deg);
}

.sidebar-button.open::after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#sidebar {
	background: var(--entry);
	overflow: auto;
	padding: 0;
	visibility: visible;
	z-index: 10000;

	position: fixed;
	float: left;
	top: 0;
	bottom: 0;
	min-width: 200px;
	width: 20%;
}

#sidebar img {
	height: 5rem;
	width: 100%;
	filter: var(--icon1) var(--icon2) var(--icon3) var(--icon4) var(--icon5) var(--icon6);

	margin: auto;
	margin-top: 1rem;
}

#sidebar a:hover img {
	filter: var(--icon-hover1) var(--icon-hover2) var(--icon-hover3) var(--icon-hover4) var(--icon-hover5) var(--icon-hover6);
}

#sidebar .iconlink {
	display: inline-block;
	width: 100%;

	text-align: center;
	margin: auto;
}

#sidebar .iconlink img {
	height: 2rem;
	width: 2rem;
	margin: 1rem 0.5rem 0;
}

#sidebar h1 {
	font-size: 2rem;
	font-weight: 300;

	text-align: center;
	margin: auto;
}

#sidebar p {
	text-align: center;
}

#sidebar a {
	font-size: 1rem;
	text-decoration: none;

	text-align: center;
	margin: auto;
}

#sidebar .iconlink a:hover,
#sidebar .about a:hover {
	background: none;
}

#sidebar hr {
	border-top-width: 0.1rem;
	border-color: var(--background);

	margin-left: 10%;
	margin-right: 10%;
}

#sidebar h2 {
	color: var(--title);
	font-size: 2rem;

	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
}

#sidebar button,
#sidebar button:disabled,
#sidebar button:hover:disabled,
#sidebar button:active:disabled {
	background: var(--button);
	color: var(--foreground);
	font-weight: normal;

	display: block;
	text-align: left;

	padding: 0.8rem 1rem;
}

#sidebar button:hover:disabled {
	cursor: default;
}

#sidebar button:hover {
	background: var(--button-hover);
}

#sidebar button:active,
#sidebar button.selected,
#sidebar button.selected:disabled,
#sidebar button.selected:hover:disabled {
	background: var(--button-selected);
	color: var(--background);
	font-weight: bold;

	border-left: 4px solid var(--foreground);
}

#sidebar button.selected:hover {
	background: var(--foreground);
}

#sidebar .search {
	display: flex;
	width: 80%;
	margin: auto;
	gap: 0.1rem;
}

#sidebar .search input {
	width: 100%;
	margin: 0;

	background: var(--code);
}

#sidebar .search button {
	vertical-align: middle;

	background: var(--code);
	color: var(--foreground);
	margin: 0;
	padding: 0.4rem;
}

#sidebar .search button img {
	display: flex;
	height: 1rem;
	width: 1rem;
	margin: auto;
}

/* === Tags === */

.tags {
	width: 80%;
	margin: auto;
}

#sidebar .tags p {
	text-align: left;
}

#sidebar .tags a {
	cursor: pointer;
	margin: 0.5rem;

	color: var(--tags);
	font-size: 0.75rem;
	font-weight: italic;
	text-decoration-line: underline;
	text-decoration-style: dashed;
}

.tags a:hover {
	background: none;
	color: var(--foreground);
}

.tags label {
	display: block;
	position: relative;
	width: max-content;

	padding-left: 1.5rem;
	margin-bottom: 0.5rem;
}

.tags label input {
	position: absolute;
	opacity: 0;
}

.tags label .checkmark {
	display: block;
	position: absolute;
	top: 15%;
	left: 0;
	height: 1rem;
	width: 1rem;

	background: var(--background);
}

.tags label:hover .checkmark {
	background: var(--button-hover);
}

.tags label input:checked ~ .checkmark {
	background: var(--button-selected);
}

.tags label:hover input:checked ~ .checkmark {
	background: var(--foreground);
}

.tags label .checkmark:after {
	content: "";
	position: absolute;
	display: none;
	top: 15%;
	left: 35%;
	height: 0.5rem;
	width: 0.25rem;

	border-style: solid;
	border-width: 0 0.1rem 0.1rem 0;
	border-color: var(--foreground);

	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.tags label input:checked ~ .checkmark:after {
	display: block;
}

.tags label:hover input:checked ~ .checkmark:after {
	border-color: var(--background);
}


/*---------------------*/
/* Title before addons */
/*---------------------*/

.search p {
	font-size: 1.2rem;
}

.header {
	position: sticky;
	top: 0;
	z-index: 1000;

	background: var(--background);
	padding-top: 0.5rem;
}

.header hr {
	margin-top: 0;
	padding-bottom: 0.5rem;
}

.header div {
	margin-left: auto;
	margin-right: auto;
	width: max-content;
}

.header div button,
.header div select {
	display: inline-block;
	height: max-content;
	width: max-content;

	background: var(--entry);
	color: var(--foreground);
	padding: 0.25rem 0.5rem;
}

.header div button:hover,
.header div select:hover {
	background: var(--button-hover);
}

.header div button.selected {
	background: var(--button-selected);
	color: var(--background);
	font-weight: bold;
}

.header div button.selected:hover {
	background: var(--foreground);
}

.header .subtitle {
	font-size: 0.9rem;
	font-style: italic;

	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.centered {
	text-align: center;
	margin: auto;
}


/*--------*/
/* Addons */
/*--------*/

#addons {
	float: right;
	width: 78%;
	margin: 0.5em;
}

#addons .entry {
	background: var(--entry);
	border-top-width: 0;
	border-bottom-width: 0;
	border-left-width: 0.2rem;
	border-right-width: 0.2rem;

	padding: 1rem;
	margin: 2%;
}

#addons .entry .entry-header {
	display: flex;
	margin-bottom: 0.5rem;
}

/* Expand icon */
#addons .entry .entry-header .entry-expand {
	cursor: pointer;
	width: 2rem;

	filter: var(--icon1) var(--icon2) var(--icon3) var(--icon4) var(--icon5) var(--icon6);
	padding: 0 0.25rem;
	margin-right: 0.25rem;
}

#addons .entry .entry-header h3 {
	color: var(--title);
	font-size: 1.5rem;

	margin-top: 0;
	margin-bottom: 0.2rem;
}

#addons .entry .entry-header h5 {
	font-size: 0.9rem;
	font-style: italic;

	margin: 0;
}

#addons .entry .entry-header .entry-expand:hover {
	filter: var(--icon-hover1) var(--icon-hover2) var(--icon-hover3) var(--icon-hover4) var(--icon-hover5) var(--icon-hover6);
}

#addons .entry .icon-button,
#addons .entry .icon-button img {
	height: 1.5rem;
	width: 1.5rem;
}

#addons .entry .icon-button {
  background: none;
	color: none;
	cursor: pointer;
	display: inline-block;

	position: relative;
	margin-left: 0.5rem;
}

#addons .entry .entry-header .icon-button,
#addons .entry .entry-header .icon-button img {
	height: 1rem;
	width: 1rem;
}

#addons .entry .entry-header .icon-button {
	visibility: hidden;
}

#addons .entry .entry-header:hover .icon-button {
	visibility: visible;
}

#addons .entry .icon-button.important img {
	filter: var(--icon-important1) var(--icon-important2) var(--icon-important3) var(--icon-important4) var(--icon-important5) var(--icon-important6);
}

#addons .entry .icon-button.bad img {
	filter: var(--icon-bad1) var(--icon-bad2) var(--icon-bad3) var(--icon-bad4) var(--icon-bad5) var(--icon-bad6);
}

#addons .entry .icon-button.selected img,
#addons .entry .icon-button:hover img {
	filter: var(--icon-hover1) var(--icon-hover2) var(--icon-hover3) var(--icon-hover4) var(--icon-hover5) var(--icon-hover6);
}

/* Tooltips for the small icons */
#addons .entry .icon-button .tooltip {
	background: var(--code);
	font-size: 0.8rem;
	font-weight: normal;
	text-align: center;
	visibility: hidden;
	width: 5rem;

	bottom: 140%;
	left: -150%;
	opacity: 0;
	position: absolute;

	padding: 0.5rem;
	z-index: 100;
}

#addons .entry .entry-header .icon-button .tooltip {
	bottom: 120%;
	left: -250%;
}

#addons .entry .infobox {
	display: inline-block;
}

#addons .entry .icon-button .tooltip::after,
#addons .entry .icon-button.selected::after {
	content: "";

	top: 100%;
	left: 50%;
	margin-left: -0.6rem;
	position: absolute;

	border-width: 0.6rem;
	border-style: solid;
	border-color: var(--code) transparent transparent transparent;
}

#addons .entry .icon-button.selected::after {
	border-color: transparent transparent var(--code) transparent;
	border-top-width: 0;
}

#addons .entry .infobox .icon-button,
#addons .entry .icon-button:hover .tooltip {
	visibility: visible;
	opacity: 1;
}

#addons .entry .custom {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#addons .entry .entry-tags {
	margin: 0;
	/*margin-top: 1rem;*/

	color: var(--tags);
	font-size: 0.75rem;
	font-style: italic;
}

#addons .entry .description {
	margin: 0;
	padding: 0;
}

#addons .entry .description hr {
	margin-top: 1rem;
}

#addons .entry .description .iconlink a p {
	margin: 0;
}

#addons .entry .description .iconlink img {
	margin-right: 1.5rem;
}

#addons .entry .description .iconlink a,
#addons .entry .description .iconlink a:hover {
	display: flex;
	padding: 0.5rem;

	background: var(--background);
	color: none;
	text-decoration: none;

	align-items: center;
	justify-content: left;
}

#addons .entry .description .iconlink a, 
#addons .entry .description details {
	margin: 0.5rem;
}

#addons .entry .description details {
	padding: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	background: var(--code);
}

#addons .entry .description details .iconlink a,
#addons .entry .description details .iconlink a:hover,
#addons .entry .description details code {
	background: var(--entry);
}



/*--------*/
/* Flairs */
/*--------*/

#addons .entry flairs p, 
#addons .entry flairs a {
	font-size: 0.8rem;
	font-style: italic;

	margin-top: 0;
	margin-bottom: 0.1rem;
}

#addons .entry flairs a:hover {
	background: none;
	color: var(--foreground) !important;
}

#addons .entry flairs .important, 
#addons .entry flairs .important a {
	color: var(--important);
}

#addons .entry flairs .bad, 
#addons .entry flairs .bad a {
	border-style: none;
	background: var(--bad);
}

#addons .entry flairs .nice, 
#addons .entry flairs .nice a {
	color: var(--nice);
}


/*-------------*/
/* Entry Types */
/*-------------*/

#addons #pinned .entry, 
#addons .entry.highlight,
#addons .entry.bad {
	border-style: solid;
	border-width: 0.15rem;
}

#addons #pinned .entry {
	border-color: var(--pinned);
}

#addons .highlight {
	border-color: var(--nice);
}

#addons .bad {
	border-color: var(--bad);
}

#addons .entry.bad h3 {
	color: var(--bad);
}


/* ------------- */
/* Adaptive size */
/* ------------- */
/* Sidebar starts to overlap with entries when lower than 1000px */
/* Phone portrait */
@media (max-width: 1000px) {
	:root {
		font-size: 95%;
	}

	video, img {
		max-height: 100%;
		max-width: 100%;
	}

	iframe {
		width: 100%;
		height: 100%;
	}

	.sidebar-button {
		visibility: visible;
	}

	#sidebar {
		min-width: 270px;
		visibility: hidden;
	}

	#addons {
		width: 88%;
		margin-right: 1%;
	}
}

/* 2k */
@media (min-width: 1920px) {
	:root {
		font-size: 125%;
	}
}

/* 4k */
@media (min-width: 3840px) {
	:root {
		font-size: 250%;
	}
}
